@media (min-width: 768px) {

  #menu-btn {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
